@media(max-width: 1240px) {
    header nav .right-side .Singn-in {
        margin: 0px 0px 0px 26px;
    }

    .twelve {
        margin-left: 40px;
        gap: 10px;
    }

    .thirteen {
        margin-left: 40px;
    }

    .fiftheen {
        margin-left: 40px;
        gap: 20px;
        margin-right: 20px;
    }

    .footer-ptags {
        margin-left: 40px;
        margin-right: 20px;
    }

    .linking {
        gap: 20px;
    }

    .fourtheen {
        margin-left: -150px;
    }

    .london {
        margin-left: -10px;
    }

    .section-three {
        display: none;

    }
}

@media(max-width: 990px) {
    header nav .right-side .menu-bar {
        display: block;
    }

    header nav .left-side .first,
    .second,
    .third,
    .fourth {
        display: none;
    }

    header nav .right-side .Singn-in,
    .Join-kuda {
        display: none;
    }

    header nav .right-side {
        display: flex;
        gap: 7px;
        justify-content: end;
    }

    .section-four .containal .box {
        margin-inline: auto;
        text-align: center;
        width: 50%;
    }

    .section-four .containal .right-side {
        display: none;
    }

    .first-sec {
        /* border: 3px solid; */
        width: 850px;
        margin-inline: auto;
        /* margin-left: 30px; */
        /* margin-right: 30px; */
    }
    .second-sec {
        margin-left: 30px;
    }
    .second-sec2 {
        margin-left: 30px;
    }
    .fourtheen {
        display: none;
    }
}
@media(max-width: 853px) {
.first-sec {
    margin-left: 50px;
}
.second-sec {
    margin-right: 30px;
}
.third-sec {
    margin-left: 50px;
}
.fourth-sec {
    margin-left: 50px;
}
.fifth-sec {
    margin-left: 50px;
}
.six-sec {
    margin-left: 50px;
}
.seven-sec {
    margin-left: 50px;
}
.eight-sec {
    margin-left: 50px;
}
.nine-sec {
    margin-left: 50px;
}
.tenth-sec {
    margin-left: 50px;
}
.eleven {
    margin-left: 90px;
}
}
@media(max-width: 845px) {
    .first-sec {
        margin-left: 50px;
        /* border: 3px solid; */
        width: 800px;
        margin-inline: auto;

    }
}
@media(max-width: 775px) {
    .first-sec {
        margin-left: 50px;
        /* border: 3px solid; */
        /* width: 800px; */
        /* margin-inline: auto; */

    }
}

@media(max-width: 768px) {

    .first-sec {
        flex-direction: column;
        /* border: 3px solid; */
        width: 700px;
        margin-left: 100px;
        padding-left: 130px;
        gap: 60px;

    }

    .money {
        /* padding-left: 10px; */
        font-size: 50px;
    }

    .afro {
        padding-left: 130px;
    }

    .transfer {
        font-size: 30px;
    }

    .pics {
        padding-left: 50px;

    }

    .app {
        width: 200px;
    }

    .vid {
        padding-left: 50px;
    }

    .just-break {
        display: none;
    }

    .second-sec {
        flex-direction: column;
        width: 750px;
        height: 500px;
        /* border: medium solid; */
        margin-left: 100px;
        /* gap: -50px; */
    }

    .cards {
        width: 700px;
    }

    .second-sec2 {
        margin-top: -20px;
        flex-direction: column;
        /* border: medium solid; */
        width: 900px;
        height: 400px;
        padding-left: 90px;
        /* margin-left: 100px; */
        /* margin-left: -40px; */
        /* gap: -50px; */
    }

    .cards1 {
        width: 700px;
    }

    .phone {
        font-size: 40px;
        /* border: medium solid; */
        width: 300px;
        margin-left: 250px;
    }

    .acc {
        margin-left: 250px;
    }

    .designed {
        /* border: medium solid; */
        width: 500px;
        font-size: 20px;
        margin-left: 120px;
        /* padding-left: 150px; */
    }

    .home1 {
        margin-left: 120px;
    }

    .third-sec {
        flex-direction: column;
        /* border: 3px solid; */
        width: 700px;
        margin-left: 100px;
        gap: 60px;
    }

    .fourth-sec {
        margin-left: 100px;
        flex-direction: column-reverse;
        /* border: 3px solid; */
        width: 700px;
        gap: 60px;
    }

    .home2 {
        margin-left: 150px;
    }

    .save-it {
        /* border: 3px solid; */
        width: 400px;
        margin-left: 130px;
    }

    .manage {
        margin-left: 70px;
        width: 550px;
        /* border: medium solid; */
        font-size: 40px;
    }

    .manage-it {
        margin-left: 120px;
    }

    .fifth-sec {
        flex-direction: column;
        /* border: 3px solid; */
        width: 700px;
        gap: 60px;
        margin-left: 100px;
    }

    .spend {
        /* border: 3px solid; */
        width: 550px;
        font-size: 40px;
        margin-left: 100px;
    }

    .avoid {
        /* border: 3px solid; */
        width: 400px;
        margin-left: 150px;
    }

    .home3 {
        margin-left: 150px;
    }

    .serious {
        margin-left: 150px;
        font-size: 40px;
    }

    .six-sec {
        flex-direction: column-reverse;
        /* border: 3px solid; */
        width: 700px;
        gap: 60px;
        margin-left: 100px;
    }

    .seven-sec {
        flex-direction: column;
        /* border: 3px solid; */
        width: 700px;
        gap: 60px;
        margin-left: 100px;
    }

    .happy {
        /* border: medium solid; */
        width: 540px;
        font-size: 40px;
        /* margin-left: 40px; */
        margin-left: 70px;
    }

    .chat {
        /* border: medium solid; */
        width: 400px;
        margin-left: 120px;
    }

    .you {
        margin-left: 220px;
    }

    .hello {
        margin-left: 100px;
    }

    .eight-sec {
        flex-direction: column-reverse;
        /* border: 3px solid; */
        width: 700px;
        gap: 60px;
        margin-left: 100px;
    }

    .fees {
        /* border: 3px solid; */
        width: 460px;
        font-size: 40px;
        margin-left: 140px;
    }

    .banking {
        /* border: 3px solid; */
        width: 380px;
        margin-left: 140px;
    }

    .home5 {
        margin-left: 120px;
    }

    .safety {
        /* border: 3px solid; */
        font-size: 40px;
        width: 450px;
        margin-left: 120px;
    }

    .safe {
        margin-left: 150px;
    }

    .happens {
        /* border: 3px solid; */
        width: 400px;
        margin-left: 150px;
    }

    .home4 {
        margin-left: 150px;
    }

    .freedom {
        margin-left: 10px;
    }

    .vat {
        width: 600px;
        margin-left: 100px;
    }
.tenth-sec {
    width: 750px;
    height: 1000px;
    /* border: 3px solid; */
    padding-right: 30px;
    display: none;
}


    .tenth-div {
        flex-direction: column;
        /* border: 3px solid; */
        width: 700px;
        /* height: 10000px; */
        justify-content: space-between;
        gap: 60px;
        /* gap: ; */
        margin-left: 120px;
    }

    .new-card {
        width: 600px;
    }

    .new-card2 {
        width: 600px;
    }

    .new-card3 {
        width: 600px;
    }
.eleven {
    width: 600px;
    margin-left: 150px;
    margin-top: -80px;
}
    .okay {
        display: none;
    }

    .twelve {
        flex-direction: column;
    }

    .product {
        display: none;
    }

    .fiftheen {
        flex-direction: column;
    }

    .london {
        margin-left: 10px;
    }

    .product {
        margin-left: 400px;
    }

    .linking {
        gap: 200px;
    }

    .div-link2 {
        margin-left: 170px;
    }

    .div-link3 {
        margin-left: 190px;
    }

    .break {
        display: none;
    }

    /* .section-three .images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 20px;
        padding-left: 40px;
        width: 100%;
    } */



.places {
    font-size: 15px;
}
.avenue {
    font-size: 15px;
}


    .app-badge {
        display: block;
    }
    .vat-div {
        /* border: 2px solid black; */
        width: 800px;
    }
    .footer-ptags {
        font-size: 15px;
    }
    .anchor-div {
        font-size: 15px;
    }
}

/* @media(max-width: 300px) {
    footer {
        width: 100%;
        border: none;
        border-top: 1px solid rgb(235, 233, 229);
    }
} */