* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    /* overflow-x: hidden; */
}

nav {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px 3px rgb(227, 226, 226);
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    background-color: white;

}

.img-link {
    align-items: center;
    gap: 50px;
}

.nav-link {
    gap: 50px;
}

.link-name {
    color: #470c8a;
    font-size: 13px;
}

.nav-right {
    padding-right: 60px;
    /* align-items: center; */
}

.naija {
    width: 40px;
    /* background-color: green; */
    border-radius: 50%;
}

.join-kuda {
    width: 100px;
    height: 38px;
    border-radius: 5px;
    background-color: rgb(249, 249, 249);
    border: none;
    padding: 5px;
    font-size: 13px;
    border: 3px solid rgb(193, 182, 207);

}

.join-kuda:hover {
    transition: transform 1s;
    transform: translateY(-5px);

}
.link-name2 {
    color: #40196D;
    font-size: 13px;
    /* margin-top: 20px; */
}

.nav-last {
    align-items: center;
}

.scan {
    color: #40196D;
}

.first-sec {
    margin-top: 140px;
    /* border: 3px solid; */
    width: 1000px;
    /* gap: 80px; */
    animation: up 3s linear 1;
    animation-fill-mode: forwards;
    overflow: hidden;
    justify-content: space-between;
    margin-inline: auto;
}

@keyframes up {
    100% {
        transform: translateY(-30px);
    }

}

.download {
    font-weight: 800;
    color: rgb(64, 25, 109);
}

.camera {
    font-size: 18px;
}

.download-div {
    margin-top: 40px;
    /* margin-left: 180px; */
}

.join-pic {
    margin-top: 20px;
}

.fully {
    font-size: 12px;
    color: rgb(175, 175, 175);

}

.pics {
    margin-bottom: 50px;
}

.second-sec {
    display: flex;
    /* border: medium solid; */
    width: 1050px;
    gap: 10px;
    height: 240px;
    padding-left: 10px;
    margin-inline: auto;
    /* margin-left: 170px; */
    margin-bottom: 130px;
    overflow: hidden;
}

.cards {
    width: 320px;
    height: 140px;
    /* border: medium solid white; */
    margin-top: 60px;
    box-shadow: 0px 0px 5px 3px rgb(227, 226, 226);
    padding: 20px;
    margin-top: 10px;
    /* padding-left: 20px; */

}

.first-card {
    color: rgb(64, 25, 109);
    font-weight: 600;
    font-size: 15px;
}

.second-card {
    color: rgb(64, 25, 109);
    font-weight: 600;
    font-size: 15px;
}

.third-card {
    color: rgb(64, 25, 109);
    font-weight: 600;
    font-size: 15px;
}

.third-sec {
    gap: 60px;
    margin-left: 100px;
    overflow: hidden;
    /* border: 3px solid; */
    width: 1000px;
}

.div-link {
    line-height: 2;
}

.div-link2 {
    line-height: 2;
}

.div-link3 {
    line-height: 2;
}

.anchor-div {
    text-decoration: none;
    font-size: 12px;
    color: rgb(18, 18, 18);
}

.link-p {
    color: #40196D;
    font-weight: 300;
}

.linking {
    gap: 30px;
}

.fourth-sec {
    margin-top: 40px;
    margin-left: 100px;
    overflow: hidden;
    /* border: 3px solid; */
    width: 500px;
}

.product {
    /* border: medium solid black; */
    /* width: 370px; */
    margin-left: 500px;
    margin-top: 30px;
    color: rgb(196, 196, 196);
}

.fifth-sec {
    margin-right: 100px;
    overflow: hidden;
    /* border: 3px solid; */
    /* width: 200px; */
}

.six-sec {
    margin-left: 100px;
    gap: 70px;
    margin-bottom: 30px;
    overflow: hidden;
    /* border: 3px solid; */
    width: 1000px;
}

.help {
    color: #470c8a;
}

.contact {
    color: #470c8a;
}

.places {
    color: #470c8a;
    /* font-weight: 500; */
}

.avenue {
    font-size: 13px;
}

.avenue2 {
    font-size: 13px;
}

.footer-ptags {
    font-size: 10px;
    margin-left: 100px;
    color: rgb(180, 180, 180);
    /* border: 3px solid; */
    width: 1000px;
}

.menu-bar {
    display: none;
}




@media(max-width: 964px) {
    * {
        /* border: medium solid; */
    }

    .link-name {
        display: none;
    }

    .link-name2 {
        display: none;
    }

    .join-kuda {
        display: none;
    }

    .first-sec {
        width: 900px;
        margin-inline: auto;
        /* border: medium solid; */
        /* margin-left: 20px;
        margin-right: 20px; */
        padding: 0 30px 0 50px;
    }

    .second-sec {
        width: 900px;
        margin-top: 50px;
        margin-inline: auto;
        /* margin-left: 20px; */
        /* border: medium solid; */
    }

    .cards {
        /* border: medium solid; */
        /* width: 880px; */
        margin-right: 10px;
        height: 170px;
    }

    .third-sec {
        margin-top: -70px;
        width: 900px;
        margin-left: 20px;
        gap: 30px;
        /* margin-right: 20px; */
    }

    .fourth-sec {
      
        margin-left: 20px;
    }

    .fifth-sec {
  
        width: 900px;
        margin-left: 20px;
    }

    .six-sec {
        margin-top: 30px;
        gap: 30px;
        width: 900px;
        margin-left: 20px;
    }

    .footer-ptags {
        width: 900px;
        margin-left: 20px;
    }

    .menu-bar {
        display: inline;
        /* color: black; */
    }

    .menu {
        color: black;
        font-size: 25px;
        margin-left: -100px;
    }

    .naija {
        margin-left: 400px;
    }
    .product {
        display: none;
    }

}

@media screen and (max-width:768px) {
    * {
        /* border: medium solid; */
    }
    .link-name {
        display: none;
    }

    .link-name2 {
        display: none;
    }

    .join-kuda {
        display: none;
    }



    .break {
        display: none;
        /* border: medium solid black; */
        /* width: 300px;
        height: 40px; */
    }

    .first-sec {
        flex-direction: column;
        width: 40em;
        /* margin-left: 150px; */
        /* border: 2px solid black; */
        margin-inline: auto;

    }

    .download {
        font-size: 50px;
        /* border: medium solid black; */
        width: 500px;
        margin-left: 80px;
        margin-bottom: 20px;
    }

    .camera {
        /* border: medium solid black; */
        width: 570px;
        font-size: 30px;
        margin-left: 50px;
    }

    .pics {
        /* border: 3px solid; */
        width: 460px;
        margin-left: 140px;
    }

    .app {
        width: 200px;

    }

    .fully {
        margin-left: 170px;
    }

    .qr-code {
        margin-left: 70px;
    }

    .join-pics {
        margin-left: 90px;
    }

    .second-sec {
        flex-direction: column;
        margin-inline: auto;
        width: 700px;
        height: 380px;
        /* margin-left: 150px; */
        /* border: 2px solid black; */
        padding-left: 10px;
        padding-right: 10px;

    }

    .cards {
        width: 680px;
        display: flex;
        align-items: center;
        height: 90px;

    }

    .first-card {
        font-size: 15px;
    }

    .second-card {
        font-size: 15px;
    }

    .third-card {
        font-size: 15px;
    }

    .card-pic {
        width: 50px;
    }

    .third-sec {
        flex-direction: column;
        width: 700px;
    }
    .fifth-sec {
        /* border: medium solid; */
        /* flex-direction: column; */
        width: 700px;
    }

    .six-sec {
        margin-top: 40px;
        flex-direction: column;
        width: 700px;
    }

    footer {
        width: 700px;
    }
    .link-p {
        font-size: 20px;
    }
    .anchor-div {
        font-size: 20px;
    }
    .contact {
        font-size: 20px;
    }
    .help {
        font-size: 20px;
    }
.places {
    font-size: 25px;
}
.avenue {
    font-size: 20px;
}
    .footer-ptags {
        width: 700px;
        font-size: 17px;
    }

    .london {
        margin-left: 10px;
    }

    .linking {
        gap: 200px;
    }

    .div-link2 {
        margin-left: 170px;
    }

    .product {
        display: none;
        /* border: medium solid; */
        width: 300px;
        /* margin-inline: auto; */
        margin-left: 20px; 
    }

    .div-link3 {
        margin-left: 190px;
    }
}

@media screen and (max-width:426px) {
* {
    /* border: medium solid; */
}
/* .naija {
    margin-left: -60px;
  
}
.menu {
    margin-left: -50px;
    padding-top: 10px;
} */
    .first-sec {
        flex-direction: column;
       /* border: medium solid; */
        /* margin-left: 150px; */
       width: 400px;
        margin-inline: auto;

    }

    .download {
        font-size: 30px;
        /* border: medium solid black; */
        width: 300px;
        margin-left: 50px;
        margin-bottom: 20px;
    }

    .camera {
        /* border: medium solid black; */
        width: 300px;
        font-size: 15px;
        
        /* margin-left: 50px; */
    }

    .pics {
        /* border: 3px solid; */
        width: 200px;
        margin-left: 100px;
    }

    .app {
        width: 90px;

    }

    .fully {
        margin-left: 55px;
    }

    .qr-code {
        /* border: medium solid; */
        margin-left: 150px;
    }

    .join-pics {
        margin-left: 30px;
        width: 350px;
    }
    .second-sec {
        flex-direction: column;
        margin-inline: auto;
        width: 400px;
        height: 380px;
        /* margin-left: 150px; */
        /* border: 2px solid black; */
        padding-left: 10px;
        padding-right: 10px;

    }

    .cards {
        width: 380px;
        display: flex;
        align-items: center;
        height: 90px;

    }

    .first-card {
        padding: 10px 0 0 10px;
        font-size: 15px;
    }

    .second-card {
        padding: 10px 0 0 10px;
        font-size: 15px;
    }

    .third-card {
        padding: 10px 0 0 10px;
        font-size: 15px;
    }

    .card-pic {
        width: 50px;
    }

    .third-sec {
        flex-direction: column;
        width: 400px;
        /* border: 3px solid; */
        margin-inline: auto;
        padding: 0 20px 0 20px;
    }
    .linking {
        gap: 30px;
    }
    .div-link2 {
        padding-right: 40px;
    }
    .fifth-sec {
     
        /* flex-direction: column; */
        width: 400px;
        margin-left: 0px;
       
    }

    .six-sec {
        margin-top: 30px;
        /* border: 3px solid; */
        /* padding-left: 20px; */
        flex-direction: column;
        width: 400px;
        margin-left: 0px;
        padding: 0 20px 0 10px;
        font-size: 15px;
    }

    footer {
        width: 400px;
    }

    .footer-ptags {
        margin-left: 0px;
        width: 390px;
        font-size: 15px;
        padding: 0 20px 0 20px;
    }

    .london {
        margin-left: 10px;
    }

    .linking {
        gap: 200px;
    }

  

    .product {
        display: none;
        /* border: medium solid; */
        width: 300px;
        /* margin-inline: auto; */
        margin-left: 20px; 
    }

   
    .fourth-sec {
    width: 380px;
    margin-inline: auto;
    }
    .store-pic {
        width: 100px;
    }
    .link-p {
        font-size: 15px;
    }
    .anchor-div {
        font-size: 15px;
    }
    .contact {
        font-size: 15px;
    }
    .help {
        font-size: 15px;
    }
.places {
    font-size: 25px;
}
.avenue {
    font-size: 20px;
}
.div-link2 {
    padding-left: 50px;
    margin-left: 0px;
}

.div-link3 {
    padding-left: 60px;
    margin-left: 0px;
}

.linking {
    width: 350px;

}
}